
.table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
  }
  .tr {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333 ;
  }
  .th, .td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #333;
    border-left: 1px solid #333;
    text-align: center;
  }
  
  .tools  {
    width: 100%;
  }
  .select {
    width: 15%;
  }
  .input {
    width: 15%;
  }
  
  
  .tools button {
    margin: 0;
  
  }
  
  .td:hover {background-color:#f5f5f5;}